.pri-heading{
    font-size: 2.5rem;
    color: $color-pri-heading;
    font-weight: bold;
    margin-bottom: 1.875rem;
}
.para{
    font-size: 1.125rem;
    color: $color-para;
    font-weight: normal; 
    margin-bottom: 2.5rem;
}
.mb-entry-card{
    margin-bottom: 3.188rem;
}
.mb-host-row{
    margin-bottom: 9.375rem;
}


