
$color-dark: #000000;
$color-dark-opc: rgba(0, 0, 0, 0.2);
$color-white: #ffffff;
$color-logo-red: #ff3400;
$color-logo-blue: #2583ff;

$color-nav-text: #d2d0db;
$color-main-heading-para: #b9c3cf;

$color-para: #918ca4;
$color-pri-heading: #210e6b;
$color-pri-heading-opc: rgba(33, 14, 107, 0.2);

$color-bg-blue: #00d9ff;
$color-off-blue: #01cdf1;

$color-prem-off-blue: #126de4;

$color-check: #2fd5a8;
$icon-bg-color: #f3f9fa; 

$color-control-para: #7b858b;
$color-feedback: #5c5577;

$color-bg-footer: #232323;
