.cloud-host{
    padding-top: 11.25rem;
} 
.control-panel{
    padding: 6.75rem 0px 15.625rem;
    background-color: $color-dark; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
} 
.feedback{
    padding: 3.125rem 0px 13.063rem; 
}
.footer{
    padding: 5rem 0px;
    background-color: $color-bg-footer;
} 